#iCalButton{
  background: var(--primary);
  width: 100%;
  font-size: 18px;
  border: 0;
  color: #fff;
  padding: 5px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  margin-top: 40px;
}

#iCalButton:hover {
    background-color: rgb(80, 170, 80);
  }
  
#iCalButton:active {
    background-color: rgb(91, 174, 91);
  }
